        <div class="card-header">
        <h3 class="inline">{{post.title}}</h3>
        <p>By: {{post.user.name}}</p>
        <p>{{dateTime post.createdAt}}</p>
        </div>
        <div class="m-3 card-body">
        <p>{{post.post_content}}</p>
        </div>
        <div class="card mx-auto my-3 py-3 col-10 col-md-8">
        <h3>Add Comment</h3>
        <textarea data-postid="{{post.id}}" class="mb-3" name="comment" id="comment-content" cols="30" rows="10"></textarea>
        <button id="comment" class="btn btn-primary">Add Comment</button>
        <div class="card-body">
        <h3>Comments</h3>
        <hr>
        </div>
        {{#each post.Comments as |comment|}}
        <div>
        <h5 class="font-weight-bold inline-block">{{comment.user.name}} <span class="font-weight-light">- {{dateTime comment.createdAt}}</span></h5>
        <p>{{comment.content}}</p>
        {{!-- seems like we cant acces any vars other that comment in here? thats for sure a little annoying for the plan --}}
        {{!-- need to render this on if session.user_id === comment.user_id but im not sure its possible --}}
        <hr>
        </div>
        {{/each}}
        
</div>
<script src="/js/createComment.js"></script>