<div class="card mx-auto my-3 py-3 text-center col-10 col-md-8">
        <div class="card-header">
        <h3>{{post.title}}</h3>
        <p>By: {{post.user.name}}</p>
        </div>
        <p>{{post.post_content}}</p>
</div>
<div class="card mx-auto my-3 py-3 text-center col-10 col-md-8">
        <h3>Add Comment</h3>
        <textarea data-postid="{{post.id}}" class="mb-3" name="comment" id="comment-content" cols="30" rows="10"></textarea>
        <button id="comment" class="btn btn-primary">Add Comment</button>
        <div class="card-body">
        <h3>Comments</h3>
        <hr>
        </div>
        {{#each post.Comments as |comment|}}
        <p>{{comment.content}}</p>
        {{!-- how can i change this from a number to the actual username? --}}
        <p>By: {{comment.user.name}}</p>
        <hr>
        {{/each}}
        
</div>
<script src="/js/createComment.js"></script>